 .whiteboard{ border-color:white;
   }
html{
	background-color: green;
	}
  p{
  color:white;
  }
   title{
   color: white
   }
   table{ border-color:blue; color:red;
   }
   .Mandarin{ color:red
   }
   #ohh{ color:#fc8744
   }
   .border{ border-color:white width:100px;
   }