.bigbox{ border-width:5px;
		 border-color:grey
		 ;
		 height:35px;
		 width:1280px;
		 border-style:solid;

		 }
		 
 #siamese{ 
 		 border-width: 5px;
 		 height: 25px;
 		 width :800px;
 		 background-color:orange;
 		 
 		 }
 .classy{
 		 background-color:red;
 		 height: 78px;
 		 width  :498px;
 		 float:right;
 		 margin:50px;
 		 
 		 }
 		 .bigbox2{ border-width:100px;
		 border-color:purple;
		 height:218px;
		 width:10px;
		 border-style:solid;
		
		
		 }
		  #cat{ 
 		 border: 169px solid orange;
 		 height: 72px;
 		 width :500px;
 		 color:red;
 		 padding:25px;
 		 margin:-415px;
 		 float:right
 		 