html{
	background-color: green;
	}
  p{
  color:white;
  }
  
  p{
  border-color: black;
  }
   title{
   color: white
   }
   table{ border-color:blue; color:red;
   }
   .Mandarin{ color:red
   }
   #ohh{ color:#fc8744
   }
   .whiteboard{ border-color:white;
   			
   }