 .bound{
         width:1500px;
         height:1500px;
         }
   
 .blackbox{
    border: 5px solid black;
	width:1200px;
	height:1200px;
	margin:100px;
	background-color:black;
	
	}
 		
  .monogram{
        width:702px;
 		height:1012px;
 		background-image:url(file://localhost/Users/AsherM/Desktop/My-first-html/portfolio/A1.jpg);
 		padding:80px;
 		border:5px solid black;	
 		background-repeat:no-repeat; 
 		background-position:300% 50%;
 		position:absolute;
 		}
 		
 	