 .bound{
         width:1500px;
         height:1500px;
         }
   
 .blackbox{
    border: 5px solid black;
	width:2000px;
	height:20000px;
	margin:100px;
	background-color:black;
	
	}
 		
  .monogram{
        width:500px;
 		height:700px;
 		background-image:url(file://localhost/Users/AsherM/Desktop/My-first-html/portfolio/A1.jpg);
 		background-position:20% 50%;
 		border:5px solid black;
 		background-repeat:no-repeat;
 		position:300px 300px;
 		}
 		
 	
 	.H1box{
 		height:50px;
 		background-color:solid black;
 		clear:both; 
 				 	}	
 	.H1{
 		
 		font-weight:bold;
 		font-family:Helvetica,sans-seriff;
 		color:white;
 		padding:10px;
 		float:left;
 		} 